@import url(./styles/tailwind.css);
@import url(../public/fonts/nexa.css);

body {
    font-family: 'nexa';
    background-color: #000;
}

.parallax-text {
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.videoBG {
    background: url(./YPS_BACKGROUND.webm) no-repeat center center fixed;
    background-size: cover;
  }
